@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8f8f8;
  --foreground: #1c1c1c;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .card {
    @apply rounded-2xl bg-white shadow-card;
  }
}
